.hero {
  margin: 0 auto;
  /* border: 1px solid blue; */
  padding: 80px 130px;
  /* background: lightgray; */
}

.dark-hero {
  background-color: #1e1e20;
}

.hero--container {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  justify-content: center;
  margin: 0 auto;
  /* padding: 0 50px 0 50px; */
  /* background: lightblue; */
  /* padding: 1rem; */
}

.main {
  max-width: 50%;
  width: 50%;
  /* background: lightgoldenrodyellow; */
  padding: 1rem;
}

.hero--image {
  max-width: 50%;
  width: 50%;
  /* border: 1px solid black; */
  /* background: lightgoldenrodyellow; */
}

h1 {
  background-color: red;
  background-image: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgb(55, 52, 254) 50%,
    rgb(246, 214, 169) 100%
  );

  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.main--title,
.main--subtitle {
  font-size: 56px;
  font-weight: 700;
}

.main--subtitle {
  /* color: #3c3c43eb; */
  color: rgb(115 115 122);

  margin-bottom: 1rem;
}

.dark-hero .main--subtitle {
  color: #dfdfd7;
}

.main--body {
  font-size: 24px;
  color: #3c3c43b3;
  opacity: 80%;
  margin-bottom: 2rem;
}

.dark-hero .main--body {
  color: #9999a0;
}

.actions-container {
  display: flex;
}

.btn a {
  text-decoration: none;
  color: black;
}

.btn {
  /* background-color: #f6f6f7; */
  border-radius: 20px;
  /* border: 1px solid #c9c5c5; */
  font-size: 14px;
  font-weight: 500;
  padding: 10px 20px;
  margin-right: 20px;
  cursor: pointer;
}

.btn-normal {
  background-color: #f6f6f7;
  border: 1px solid #c9c5c5;
}

.dark-hero .btn-normal {
  background-color: #313136;
}

.dark-hero .btn-normal:hover {
  background-color: #1e1e21;
}

.dark-hero .btn-normal a {
  color: white;
}

/* .dark-hero .btn-normal {
  background-color: #313136;
} */

.btn-primary {
  background-color: #747bff;
  border: none !important;
}

.btn:hover {
  background-color: #e6e6ec;
  transform: scale(1.01);
  transition: transform 250ms;
}

.btn-primary a {
  color: white;
}

.btn-primary:hover {
  background-color: #7b81f0;
  cursor: pointer;
  transform: scale(1.01);
  transition: transform 250ms;
}

/* .hero--image {
  display: flex;
} */

.background-image {
  background: url(./assets/logo-background-image.png);
  max-height: 100%;
  max-width: 100%;
  background-size: cover;
  box-shadow: 0 0 40px 60px white inset;
  /* padding-right: 4rem; */
}

.dark-hero .background-image {
  background: darkblue;
  box-shadow: none;

  background-color: #1e1e20;
}

.hero--vite-logo {
  margin-left: 3rem;
  height: 330px;
}

/* .dark-hero .background-image {
  background-color: blue !important;
} */

/* .dark-hero .hero--container {
  background-color: blue !important;
} */

/* -- FEATURES Section -- */

.features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 1rem;
}

.feature-box {
  background: #f6f6f7;
  padding: 1.7rem 1rem;
  width: 390px;
  margin-bottom: 1rem;
  border-radius: 12px;
}

.feature-icon {
  width: 48px;
  height: 48px;
  background: #e3e3e5;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 12px;
}

.feature-title {
  color: rgb(77, 77, 82);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 12px;
}

.feature-icon {
  /* color: rgb(115 115 122); */
  color: rgb(128 58 183);
}

.feature-description {
  font-size: 14px;
  color: rgb(115 115 122);
}
