.sponsors {
  color: black;
  text-align: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding-top: 5rem;
}

.dark-sponsors {
  background-color: #1e1e20;
}

.fa-heart {
  font-size: 1.5rem;
  color: rgb(170, 162, 162);
  margin-bottom: 1rem;
}

.dark-sponsors .fa-heart {
  color: #9999a1;
  opacity: 90%;
}

.sponsors--open-source {
  font-size: 16px;
  font-weight: 400;
  color: rgb(118 118 123);
  margin: 0 auto;
  margin-bottom: 2.5rem;
  max-width: 350px;
}

.dark-sponsors .sponsors--open-source {
  /* color: #6c6c71; */
  /* color: #a1a1b7; */
  color: #9999a1;
}

.sponsors--container {
  margin-bottom: 3rem;
}

/* .sponsors--grid {
} */

/* .sponsors-grid, */
.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9,
.div10,
.div11,
.div12,
.div13,
.div14 {
  text-align: center;
  padding: 1rem;
  /* margin: 3px; */
  background-color: rgb(246 246 247);
}

.dark-sponsors :is(.div1, .div4, ) {
  background-color: #2e2e2e;
}

.dark-sponsors
  :is(
    .div2,
    .div3,
    .div5,
    .div6,
    .div7,
    .div8,
    .div9,
    .div10,
    .div11,
    .div12,
    .div13,
    .div14
  ) {
  background-color: #2d2d3f;
}

/* sponsors only */
.div2,
.div3,
.div5,
.div6,
.div7,
.div8,
.div9,
.div10,
.div11,
.div12 {
  cursor: pointer;
}

:where(
    .div2,
    .div3,
    .div5,
    .div6,
    .div7,
    .div8,
    .div9,
    .div10,
    .div11,
    .div12
  ):hover {
  background-color: rgb(217, 217, 221);
  transition: 350ms;
}

.dark-sponsors
  :where(
    .div2,
    .div3,
    .div5,
    .div6,
    .div7,
    .div8,
    .div9,
    .div10,
    .div11,
    .div12
  ):hover {
  background-color: white;
  transition: 350ms;
}

.sponsors-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: repeat(5, 1fr); */
  grid-template-rows: 0.1fr 3.5fr 0.1fr 2.2fr 2.2fr;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  max-width: 80%;
  margin: 0 auto;
  border-radius: 20px;
}

/* Become a Sponsor */
.div1 {
  grid-area: 1 / 1 / 2 / 6;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* StackBlitz */

.div2 {
  grid-area: 2 / 1 / 3 / 3;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* storyblock */

.div3 {
  grid-area: 2 / 3 / 3 / 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* tailwind */

.div4 {
  grid-area: 3 / 1 / 4 / 6;
}

/* replit */

.div5 {
  grid-area: 4 / 1 / 5 / 2;
}

/* vueJobs */

.div6 {
  grid-area: 4 / 2 / 5 / 3;
}

/* divRiots */

.div7 {
  grid-area: 4 / 3 / 5 / 4;
}

/* cypress */

.div8 {
  grid-area: 4 / 4 / 5 / 5;
}

/* perfect */

.div9 {
  grid-area: 4 / 5 / 5 / 6;
}

/* jetbrains */

.div10 {
  grid-area: 5 / 1 / 6 / 2;
  border-bottom-left-radius: 20px;
}

/* pineview */

.div11 {
  grid-area: 5 / 2 / 6 / 3;
}

.div12 {
  grid-area: 5 / 3 / 6 / 4;
}

.div13 {
  grid-area: 5 / 4 / 6 / 5;
}

.div14 {
  grid-area: 5 / 5 / 6 / 6;
  border-bottom-right-radius: 20px;
}

.sponsor--title {
  font-size: 14px;
  font-weight: 500;
  color: rgb(80, 80, 87);
  opacity: 70%;
}

.dark-sponsors .sponsor--title {
  color: #9c9ca3;
}

.sponsor--plat img {
  max-width: 192px;
  max-height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsor--plat,
.sponsor--gold {
  filter: gray; /* IE5+ */
  -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all 0.2s ease-in-out;
}

.dark-sponsors :is(.sponsor--plat, .sponsor--gold) img {
  filter: grayscale(1) invert(1);
}

.sponsor--plat:hover,
.sponsor--gold:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1);
}

.sponsor--plat img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1);
}

.dark-sponsors :is(.sponsor--plat, .sponsor--gold):hover img {
  /* filter: none; */
  filter: grayscale(0);
  /* filter: grayscale(0) invert(1); */
  /* -webkit-filter: grayscale(0); */
  /* -webkit-transform: scale(1); */
}

/* .parent:hover .child{ display:block; } */

.sponsor--gold {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsor--gold img {
  max-width: 120px;
  max-height: 36px;
}

.btn-donate {
  margin-bottom: 5rem;
  background-color: white;
  color: rgb(80, 80, 87);
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 20px;
  margin-right: 20px;
  cursor: pointer;
  border: 1px solid lightgray;
  transition: 500ms;
}

.btn-donate:hover {
  /* color: pink; */
  color: #f43f5e;
  border: 1px solid #f43f5e;
}

.btn-donate {
  /* background-color: #f6f6f7; */
  border-radius: 20px;
  /* border: 1px solid #c9c5c5; */
  font-size: 14px;
  font-weight: 500;
  padding: 10px 20px;
  margin-right: 20px;
  cursor: pointer;
}

/* .invert:hover {
  background-color: white;
  filter: grayscale(1) invert(1);
} */
